.full-screen-player-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 9999;
    transition: transform 0.5s ease;
}

.showed {
    transform: translateY(0);
}

.hidden {
    transform: translateY(100%);
}

.track-card-bg {
    background-color: #111111;
    border-radius: 1rem;
    padding: 2rem;
}

.track-title {
    font-size: 1.25rem;
}

.artist-name {
    font-size: 1.2rem;
    opacity: 0.7;
}

.queue-container {
    position: relative;
    width: 50%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.queue-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 15;
    pointer-events: none;
}

.queue-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    z-index: 15;
    pointer-events: none;
}

.queue-list-container {
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 250px
}

.scrolling-text {
    text-wrap: nowrap;
}

.scrolling-text:hover {
    animation: RightToLeft 10s infinite linear;
}

@keyframes RightToLeft {
    from {
        transform: translateX(5%)
    }
    to {
        transform: translateX(-50%)
    }
}

.on-current-track-info {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    opacity: 0.8;
}